@import url("https://fonts.googleapis.com/css?family=Raleway");
/* -- Responsive -- */
/* -- Variables -- */
/* -- Responsive Mixin's -- */
/* -- Main Styling Start... -- */
body {
  background-color: #ebebeb;
  font-family: 'Raleway', verdana, sans-serif;
}

@media (min-width: 768px) and (max-width: 1199px) {
  body {
    background-color: white;
  }
}

@media (max-width: 767px) {
  body {
    background-color: white;
  }
}

header {
  margin: 0 auto 5%;
}

@media (min-width: 768px) and (max-width: 1199px) {
  header {
    margin-bottom: 2%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header {
    margin-bottom: 4%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  header {
    margin-bottom: 3%;
  }
}

header h1 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 767px) {
  header h1 {
    font-size: 1.2em;
  }
}

footer {
  margin: 0 auto;
  font-size: .8em;
  max-width: 426px;
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 767px) {
  footer {
    font-size: .6em;
  }
}

footer a {
  color: #285f6c;
  text-decoration: none;
  pointer: cursor;
}

footer a:hover {
  color: gray;
}

.container {
  margin: 1% auto 0;
  max-width: 100%;
  border: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  padding: 1% 3% 2%;
  box-shadow: 2px 2px 5px gray;
  background-color: white;
}

@media (min-width: 1200px) {
  .container {
    max-width: 925px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 86%;
    border: none;
    box-shadow: none;
  }
}

@media (max-width: 767px) {
  .container {
    border: none;
    box-shadow: none;
  }
}

@media (min-width: 1200px) {
  .container .first, .container .second {
    width: 50%;
    float: left;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container .first, .container .second {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container .first, .container .second {
    width: 50%;
    float: left;
  }
}

@media (max-width: 767px) {
  .container .first, .container .second {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container .first, .container .second {
    width: 50%;
    float: left;
  }
}

@media (max-width: 767px) {
  .container .second {
    font-size: .9em;
  }
}

.container section {
  margin: 0 auto 2em;
  width: 100%;
}

.container section h2 {
  font-size: 1.1em;
  margin-bottom: 0;
  margin-top: .5em;
  float: left;
  width: 100%;
  font-weight: normal;
}

.container section ul {
  padding-left: 1em;
  margin: 1em auto 2em;
  float: left;
}

.container section h2, .container section ul {
  margin-left: 1em;
}

.container section span {
  font-size: 1.2rem;
  font-weight: bold;
}

.container section button {
  width: 100%;
  padding: 20px;
  background-color: #8ad5e7;
  border: 1px solid gray;
  text-transform: uppercase;
  font-size: 1em;
}

.container section button:hover {
  cursor: pointer;
}

.container section p {
  display: block;
  float: left;
  width: 100%;
}

.container section p.half {
  width: 50%;
}

.container section p.right {
  text-align: right;
}

.container section p.luck {
  color: #285f6c;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.container section p.hidden {
  display: none;
}

.container section p span {
  display: inline-block;
  color: #285f6c;
  font-size: 1.2em;
}

.container section p span.timer {
  width: 60px;
}

.container section p span.score {
  width: 20px;
}

.container section .grid {
  border: 1px solid gray;
  padding: 5px;
  float: left;
  background-color: white;
}

.container section .grid.stop .grid-cell {
  opacity: .25;
}

.container section .grid-row {
  float: left;
  clear: left;
}

.container section .grid-cell {
  margin: 1px;
  border: 1px solid gray;
  display: inline-block;
  float: left;
  background-color: white;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@media (min-width: 1200px) {
  .container section .grid-cell {
    width: 134px;
    height: 134px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container section .grid-cell {
    width: 207px;
    height: 189px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container section .grid-cell {
    width: 124px;
    height: 124px;
  }
}

@media (max-width: 767px) {
  .container section .grid-cell {
    width: 104px;
    height: 104px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container section .grid-cell {
    width: 85px;
    height: 85px;
  }
}

.container section .grid-cell.active {
  background: url("assets/images/active.png"), white;
  background-size: contain;
  background-position: center center;
}

.container section .grid-cell.active:hover {
  cursor: pointer;
}

/* -- ...Main Styling End -- */
